[submodule "bin/git-cal"]
	path = bin/git-cal
	url = https://github.com/k4rthik/git-cal.git
[submodule "bin/hop"]
	path = bin/hop
	url = https://github.com/Cue/hop.git
[submodule "bin/pastie"]
	path = bin/pastie
	url = https://github.com/jhuttner/pastie.git
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z.git
[submodule "bin/tmux-mem-cup-load"]
	path = bin/tmux-mem-cup-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
